<nb-card>
  <nb-card-header>{{topHeader}}
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="onCustomFormSubmit(vform)" #vform="ngForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.first_name" name="firstName"
              #firstName="ngModel" (keypress)="alphabetsOnly($event)" required />
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="errors">
              <div *ngIf="firstName.errors && firstName.errors.required">
                First Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.last_name" name="lastName"
              #lastName="ngModel" (keypress)="alphabetsOnly($event)" required />
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="errors">
              <div *ngIf="lastName.errors && lastName.errors.required">
                Last Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.user_name" name="userName"
              #userName="ngModel" required />
            <div *ngIf="userName.invalid  && (userName.dirty || userName.touched)" class="errors">
              <div *ngIf="userName.errors && userName.errors.required">
                User Name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="userModal.email_id" name="email" #email="ngModel"
              required email />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="errors">
              <div *ngIf="email.errors && email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors && !email.errors.required">
                Valid Email is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Mobile No.</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.mobile_no" name="Telephoneno"
              #telephoneNo="ngModel" (keypress)="numberOnly($event)" required digits />
            <div *ngIf="telephoneNo.invalid && (telephoneNo.dirty || telephoneNo.touched)" class="errors">
              <div *ngIf="telephoneNo.errors && telephoneNo.errors.required">
                Mobile No. is required.
              </div>
              <div *ngIf="telephoneNo.errors && !telephoneNo.errors.required">
                Valid Mobile No. is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Password</label>
            <!-- pattern -->
            <input type="password" class="form-control" [(ngModel)]="userModal.password" name="password"
              #password="ngModel" required />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="errors">
              <div *ngIf="password.errors && password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors && !password.errors.required">
                Valid Password is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Company</label>
            <!-- pattern -->
            <select class="form-control" [(ngModel)]="userModal.company_id" name="company" #company="ngModel">
              <!-- required -->
              <option disabled value="">Select Company
              </option>
              <option *ngFor="let c of companyList" [value]="c.CompanyId">{{c.CompanyName}}</option>
            </select>
            <!-- <div *ngIf="company.invalid && (company.dirty || company.touched)" class="errors">
                  <div *ngIf="company.errors && company.errors.required">
                    Company is required.
                  </div>
                </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Department</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.department" name="department" #dept="ngModel"
              required />
            <div *ngIf="dept.invalid  && (dept.dirty || dept.touched)" class="errors">
              <div *ngIf="dept.errors && dept.errors.required">
                Department is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Designation</label>
            <input type="text" class="form-control" [(ngModel)]="userModal.designation" name="designation"
              #desigNation="ngModel" required />
            <div *ngIf="desigNation.invalid  && (desigNation.dirty || desigNation.touched)" class="errors">
              <div *ngIf="desigNation.errors && desigNation.errors.required">
                Designation is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row"> -->
      <nb-card>
        <nb-card-header>
          User Permissions
        </nb-card-header>
        <nb-card-body>
          <table class="table responsive">
            <tr>
              <th *ngFor="let data of tableHeading">{{data}}</th>
            </tr>
            <tr *ngFor="let row of userPermissionData">
              <th>{{row.form_name}}</th>
              <th>
                <nb-checkbox name="view" [(ngModel)]="row.can_view"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="add" [(ngModel)]="row.can_add"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="edit" [(ngModel)]="row.can_edit"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="delete" [(ngModel)]="row.can_delete"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="view_group" [(ngModel)]="row.can_view_group"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="view_all" [(ngModel)]="row.can_view_all"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="edit_group" [(ngModel)]="row.can_edit_group"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="edit_all" [(ngModel)]="row.can_edit_all"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="delete_group" [(ngModel)]="row.can_delete_group"></nb-checkbox>
              </th>
              <th>
                <nb-checkbox name="delete_all" [(ngModel)]="row.can_delete_all"></nb-checkbox>
              </th>
            </tr>
          </table>
          <!-- <ngx-treeview class="col-md-12" [config]="config" [items]="items" (filterChange)="onFilterChange($event)"
            (selectedChange)="onPermissionChange($event)">
          </ngx-treeview> -->
        </nb-card-body>
      </nb-card>
      <br>
      <div class="box-footer">
        <button nbButton [disabled]="vform.invalid" translate>{{subBtnName}}</button>
        &nbsp;
        <button nbButton type="reset" routerLink='/pages/user/view-user' id="Cancel">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>