.errors {
  color: red;
  font-size: 13px;
}

optgroup[label="GR BATCH_NO WEIGHT METRE NO_OF_CONES/TAKA"] {
  color: red;
}

optgroup {
  margin: 1em;
  border: 1px solid green;
}

optgroup option {
  margin: 1em;
  border: 1px solid orange;
}

