<nb-card>
  <nb-card-header>Dynaic Process
  </nb-card-header>
  <nb-card-body>
    <form #vform="ngForm">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Process Name</label>
            <input nbInput fullWidth fieldSize="small" class="form-control input-group input-group-sm"
              [(ngModel)]="processModal.process_name" name="processName" #processname="ngModel" required />
            <div *ngIf="processname.invalid && (processname.dirty || processname.touched)" class="errors">
              <div *ngIf="processname.errors && processname.errors.required">
                Process Name is required.
              </div>
            </div>
          </div>
        </div>
        <div>
          <i class="fa fa-plus-circle mr-2" style="color:#4ca6ff;font-size:25px;cursor: pointer;margin: 23px;"
            (click)="onAddStep()"></i>
        </div>
      </div>
      <!-- <br> -->
      <div class="col-md-12" *ngIf="stepList.length">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

          <nb-accordion *ngFor="let step of stepList" cdkDragLockAxis="y" cdkDrag>
            <nb-accordion-item #item (click)="onStepClick(step)">
              <nb-accordion-item-header>
                {{step.step_name}}
                <i class="fa fa-plus-circle" style="color:green;font-size:25px;cursor: pointer;margin-right: 69px;"
                  (click)="onAddFunction(step)"></i>
                <i class="ft-edit-2 font-medium-1" style="color:#4ca6ff;margin-right: 41px;" (click)="onEditStep(step)">
                </i>
                <i class="ft-trash font-medium-1" style="color:red;margin-right: 17px;" (click)="onDeleteStep(step)">
                </i>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <div *ngIf="step.functionList && step.functionList.length">
                  <!-- <br> -->
                  <nb-list cdkDropList class="example-list"
                    (cdkDropListDropped)="dropFunction($event,step.step_position)">
                    <nb-list-item *ngFor="let func of step.functionList" cdkDragLockAxis="y" cdkDrag>
                      <div>
                        {{func.func_name}}
                        <i class="ft-trash font-medium-1" style="color:red;float: right;"
                          (click)="onDeleteFunction(func)">
                        </i>
                        <i class="ft-edit-2 font-medium-1" style="color:#4ca6ff;float: right;margin-right: 1.5%;"
                          (click)="onEditFunction(func)">
                        </i>
                        <div *ngIf="func.func_value==='temp'">
                          <div class="row">
                            <div class="col-md-3">
                              <label><b>S V (Set Value)(C) :</b> {{func.tempFunction.set_value}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Rate of Rise (C/minute) :</b> {{func.tempFunction.rate_of_rise}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Hold Time :</b> {{func.tempFunction.hold_time}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Pressure (Above 80 C) :</b> {{func.tempFunction.pressure}}</label>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="func.func_value==='pump'">
                          <div class="row">
                            <div class="col-md-10">
                              <label><b>Pump Speed (%) : </b>{{func.pumpMotorFunction.pump_speed}}</label>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="func.func_value==='dosing'">
                          <div class="row">
                            <div class="col-md-4">
                              <label><b>Fill Side Tank :</b> {{func.dosingFunction.fill_type}}</label>
                            </div>
                            <div class="col-md-4">
                              <label><b>Fill Side Tank (%) :</b> {{func.dosingFunction.dosing_percentage}}</label>
                            </div>
                            <div class="col-md-4" *ngIf="func.dosingFunction.have_dose">
                              <label><b>Dose at Temp (C) :</b> {{func.dosingFunction.dose_at_temp}}</label>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="func.func_value==='water'">
                          <div class="row">
                            <div class="col-md-3">
                              <label><b>Water Type :</b> {{func.waterDrainFunction.water_type}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Fabric Ratio :</b> {{func.waterDrainFunction.fabric_ratio}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Jet Level :</b> {{func.waterDrainFunction.jet_level}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Drain Type :</b> {{func.waterDrainFunction.drain_type}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nb-list-item>
                  </nb-list>
                  <i *ngIf="step.functionList.length>1" class="fa fa-plus-circle"
                    style="color:green;font-size:25px;cursor: pointer;margin-left: 91%;margin-top: 1%;"
                    (click)="onAddFunction()"></i>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
            <!-- <hr> -->
          </nb-accordion>
        </div>
      </div>
      <br>
      <div class="box-footer">
        <button [disabled]="vform.invalid" nbButton (click)="onCustomFormSubmit(vform)">Save</button>
        &nbsp;
        <button nbButton type="reset" routerLink='/pages/process/view-process-list' id="Cancel">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>