<nb-card>
  <nb-card-header>Dynaic Process
  </nb-card-header>
  <nb-card-body>
    <form #vform="ngForm">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Process Name</label>
            <input nbInput fullWidth fieldSize="small" class="form-control input-group input-group-sm"
              [(ngModel)]="processModal.process_name" name="processName" #processname="ngModel" required />
            <div *ngIf="processname.invalid && (processname.dirty || processname.touched)" class="errors">
              <div *ngIf="processname.errors && processname.errors.required">
                Process Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>No. of Dying Bath</label>
            <input nbInput fullWidth fieldSize="small" class="form-control input-group input-group-sm"
              (keypress)="numberOnly($event)" [(ngModel)]="processModal.no_dying_bath" name="dyingBath"
              #dyingbath="ngModel" required />
            <div *ngIf="dyingbath.invalid && (dyingbath.dirty || dyingbath.touched)" class="errors">
              <div *ngIf="dyingbath.errors && dyingbath.errors.required">
                No. of Dying Bath is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>DC Mulitplying Fac.</label>
            <input nbInput fullWidth fieldSize="small" class="form-control input-group input-group-sm"
              (keypress)="numberOnly($event)" [(ngModel)]="processModal.dc_multiplying_fac" name="dc" #Dc="ngModel"
              required />
            <div *ngIf="Dc.invalid && (Dc.dirty || Dc.touched)" class="errors">
              <div *ngIf="Dc.errors && Dc.errors.required">
                DC Mulitplying Fac is required.
              </div>
            </div>
          </div>
        </div>
        <div>
          <i class="fa fa-plus-circle mr-2" style="color:#4ca6ff;font-size:25px;cursor: pointer;margin: 23px;"
            (click)="onAddStep()"></i>
        </div>
      </div>
      <br>
      <div class="col-md-12" *ngIf="stepList.length">
        <nb-accordion *ngFor="let step of stepList">
          <nb-accordion-item #item (click)="onStepClick(step)">
            <nb-accordion-item-header>
              {{step.step_name}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <!-- class="primary col-md-2" -->
              <button nbButton (click)="onAddFunction()">Add Function</button>
              <br>
              <div *ngIf="step.functionList && step.functionList.length">
                <br>
                <nb-card accent="info">
                  <nb-card-header>Function List</nb-card-header>
                  <nb-card-body>
                    <nb-list>
                      <nb-list-item *ngFor="let func of step.functionList">
                        <h2>{{func.func_name}}</h2>
                        <div *ngIf="func.func_value==='temp'">
                          <div class="row">
                            <div class="col-md-3">
                              <label><b>S V (Set Value)(C) :</b> {{func.tempFunction.set_value}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Rate of Rise (C/minute) :</b> {{func.tempFunction.rate_of_rise}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Hold Time :</b> {{func.tempFunction.hold_time}}</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <label><b>Pressure (Above 80 C) :</b> {{func.tempFunction.pressure}}</label>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="func.func_value==='pump'">
                          <div class="row">
                            <div class="col-md-10">
                              <label><b>Pump Speed (%) : </b>{{func.pumpMotorFunction.pump_speed}}</label>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="func.func_value==='dosing'">
                          <div class="row">
                            <div class="col-md-5">
                              <label><b>Fill Side Tank :</b> {{func.dosingFunction.fill_type}}</label>
                            </div>
                            <div class="col-md-5">
                              <label><b>Fill Side Tank (%) :</b> {{func.dosingFunction.dosing_percentage}}</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6" *ngIf="func.dosingFunction.have_dose">
                              <label><b>Dose at Temp (C) :</b> {{func.dosingFunction.dose_at_temp}}</label>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="func.func_value==='water'">
                          <div class="row">
                            <div class="col-md-3">
                              <label><b>Water Type :</b> {{func.waterDrainFunction.water_type}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Fabric Ratio :</b> {{func.waterDrainFunction.fabric_ratio}}</label>
                            </div>
                            <div class="col-md-3">
                              <label><b>Jet Level :</b> {{func.waterDrainFunction.jet_level}}</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <label><b>Drain Type :</b> {{func.waterDrainFunction.drain_type}}</label>
                            </div>
                          </div>
                        </div>
                      </nb-list-item>
                    </nb-list>
                  </nb-card-body>
                </nb-card>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <hr>
        </nb-accordion>
      </div>
      <br>
      <div class="box-footer">
        <button [disabled]="vform.invalid" nbButton (click)="onCustomFormSubmit(vform)">Save</button>
        &nbsp;
        <button nbButton type="reset" routerLink='/pages/process/view-process-list' id="Cancel">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>