<nb-card>
    <nb-card-header>Suppliers
        <button style="float: right;margin-left: 10px" nbButton size="xsmall" status="info" (click)="onAddSupplier()">
            Add Supplier
        </button>
        <!-- <button style="float: right;margin-left: 10px" nbButton size="xsmall" status="info"
          (click)="onPrintInvoice(true)">Export List</button>
      <button style="float: right;" nbButton size="xsmall" status="info" (click)="onPrintInvoice(false)">Print
          Supplier List</button> -->

    </nb-card-header>
    <nb-card-body>
        <ag-grid-angular style="width: 100%; height:500px" class="ag-theme-balham" [rowData]="rowData"
            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]='100'>
        </ag-grid-angular>
    </nb-card-body>
</nb-card>