<nb-card>
  <nb-card-header>{{topHeader}}
  </nb-card-header>
  <nb-card-body>
    <form #vform="ngForm">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Stock Id</label>
            <input type="text" class="form-control" [(ngModel)]="fabricModal.stock_id" name="stockId" #StockId="ngModel"
              required />
            <div *ngIf="StockId.invalid && (StockId.dirty || StockId.touched)" class="errors">
              <div *ngIf="StockId.errors && StockId.errors.required">
                Stock Id is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Stock In Type</label>
            <input type="text" class="form-control" [(ngModel)]="fabricModal.stock_in_type" name="stockType"
              #StockType="ngModel" required />
            <div *ngIf="StockType.invalid && (StockType.dirty || StockType.touched)" class="errors">
              <div *ngIf="StockType.errors && StockType.errors.required">
                Stock In Type is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Party Name</label>
            <!-- pattern -->
            <select class="form-control" [(ngModel)]="fabricModal.party_id" name="partyid" #party="ngModel">
              <option disabled value="">Select Party Name
              </option>
              <option *ngFor="let party of partyList" [value]="party.entry_id">{{party.party_name}}</option>
            </select>
            <!-- <div *ngIf="party.invalid && (party.dirty || party.touched)" class="errors">
                  <div *ngIf="party.errors && party.errors.required">
                    Party Name is required.
                  </div>
                </div> -->
          </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="form-group">
            <label>Transfer Challan No.</label>
            <input type="text" class="form-control" [(ngModel)]="fabricModal.transfer_challan_no" name="transfer" />
          </div>
        </div>
        <div class="col-md-2">
          <button style="margin-top: 32px;" class="btn btn-primary btn-raised">Transfer</button>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>Bill No.</label>
            <input type="text" class="form-control" [(ngModel)]="fabricModal.bill_no" name="bill" #Bill="ngModel"
              required />
            <div *ngIf="Bill.invalid && (Bill.dirty || Bill.touched)" class="errors">
              <div *ngIf="Bill.errors && Bill.errors.required">
                Bill No. is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Bill Date</label>
            <input type="date" class="form-control" [(ngModel)]="fabricModal.bill_date" name="billdate"
              #BillDate="ngModel" required data-trigger="hover" data-placement="top" data-title="Date Opened"
              data-toggle="tooltip" />
            <div *ngIf="BillDate.invalid && (BillDate.dirty || BillDate.touched)" class="errors">
              <div *ngIf="BillDate.errors && BillDate.errors.required">
                Bill Date is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Chl No.</label>
            <input type="text" class="form-control" [(ngModel)]="fabricModal.chl_no" name="chl" #Chl="ngModel" required />
            <div *ngIf="Chl.invalid && (Chl.dirty || Chl.touched)" class="errors">
              <div *ngIf="Chl.errors && Chl.errors.required">
                Challan No. is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Chl Date</label>
            <input type="date" class="form-control" [(ngModel)]="fabricModal.chl_date" name="chldate"
              data-toggle="tooltip" #ChlDate="ngModel" data-trigger="hover" data-placement="top"
              data-title="Date Opened" required>
            <div *ngIf="ChlDate.invalid && (ChlDate.dirty || ChlDate.touched)" class="errors">
              <div *ngIf="ChlDate.errors && ChlDate.errors.required">
                Challan Date is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Lot</label>
            <!-- pattern -->
            <input type="text" class="form-control" [(ngModel)]="fabricModal.lot_no" name="lots" #Lot="ngModel"
              required />
            <div *ngIf="Lot.invalid && (Lot.dirty || Lot.touched)" class="errors">
              <div *ngIf="Lot.errors && Lot.errors.required">
                Lot is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Remark</label>
            <input type="text" class="form-control" [(ngModel)]="fabricModal.remark" name="remark" />
          </div>
        </div>
      </div>
      <hr>
      <div class="row table table-responsive" *ngIf="fabricRecord.length">
        <ag-grid-angular style="width: 100%; height:300px" class="ag-theme-balham" [rowData]="rowData"
          [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]='10'>
        </ag-grid-angular>
      </div>
      <div class="row">
        <form #sform="ngForm">
          <div class="row col-md-12">
            <div class="col-md-2">
              <div class="form-group">
                <label>Gr</label>
                <input type="text" class="form-control" [(ngModel)]="record.gr" (keypress)="numberOnly($event)" digits
                  name="Gr" #GR="ngModel" required />
                <div *ngIf="GR.invalid && (GR.dirty || GR.touched)" class="errors">
                  <div *ngIf="GR.errors && GR.errors.required">
                    Gr is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Quality Id</label>
                <!-- pattern -->
                <select class="form-control" [(ngModel)]="record.quality_entry_id" name="quality_id" #quality="ngModel"
                  (change)="onQualitySelect($event.target.value)" required>
                  <option disabled value="">Select Quality Id
                  </option>
                  <option *ngFor="let quality of qualityList" [value]="quality.entry_id">{{quality.quality_id}}
                  </option>
                </select>
                <div *ngIf="quality.invalid && (quality.dirty || quality.touched)" class="errors">
                  <div *ngIf="quality.errors && quality.errors.required">
                    Quality Id is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Quality Name</label>
                <input type="text" class="form-control" [(ngModel)]="record.quality_name" name="qualityname"
                  #qname="ngModel" required />
                <div *ngIf="qname.invalid && (qname.dirty || qname.touched)" class="errors">
                  <div *ngIf="qname.errors && qname.errors.required">
                    Quality Name is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Quality Type</label>
                <input type="text" class="form-control" [(ngModel)]="record.quality_type" name="type" #qtype="ngModel"
                  required />
                <div *ngIf="qtype.invalid && (qtype.dirty || qtype.touched)" class="errors">
                  <div *ngIf="qtype.errors && qtype.errors.required">
                    Quality Type is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="col-md-2">
              <div class="form-group">
                <label>Mtr</label>
                <input type="text" class="form-control" [(ngModel)]="record.mtr" name="Mtr"
                  (keypress)="numberOnly($event)" digits />
                <!-- <div *ngIf="GR.invalid && (GR.dirty || GR.touched)" class="errors">
                    <div *ngIf="GR.errors && GR.errors.required">
                      Gr is required.
                    </div>
                  </div> -->
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Weight</label>
                <input type="text" class="form-control" [(ngModel)]="record.wt" name="Wt" #weight="ngModel"
                  (keypress)="numberOnly($event)" digits required />
                <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="errors">
                  <div *ngIf="weight.errors && weight.errors.required">
                    Weight is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>No. of Cones/ Taka</label>
                <input type="text" class="form-control" [(ngModel)]="record.no_of_cones" name="noOfTaka" #taka="ngModel"
                  (keypress)="numberOnly($event)" digits required />
                <div *ngIf="taka.invalid && (taka.dirty || taka.touched)" class="errors">
                  <div *ngIf="taka.errors && taka.errors.required">
                    No. of Cones/ Taka is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>No. of Boxes</label>
                <input type="text" class="form-control" [(ngModel)]="record.no_of_boxes" (keypress)="numberOnly($event)"
                  digits name="noOfBox" #boxes="ngModel" />
                <!-- <div *ngIf="qtype.invalid && (qtype.dirty || qtype.touched)" class="errors">
                    <div *ngIf="qtype.errors && qtype.errors.required">
                      Quality Type is required.
                    </div>
                  </div> -->
              </div>
            </div>
            <div class="col-md-2">
              <button [disabled]="sform.invalid" style="margin-top: 32px;" nbButton (click)="onAddRecord(sform)">Add
                Record</button>
            </div>
          </div>
        </form>
      </div>
      <br><br>
      <div class="box-footer">
        <button [disabled]="vform.invalid" nbButton (click)="onCustomFormSubmit(vform)">{{subBtnName}}</button>
        &nbsp;
        <button nbButton type="reset" routerLink='/pages/fabric-in/view-fabric-in-list' id="Cancel">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>