<div class="row">
  <div class="col-md-4"></div>
  <div class="form-control-group col-md-4">
    <label class="label" for="email">Duration of Light</label>
    <input nbInput fullWidth type="number" name="sec" placeholder="Enter duration in seconds" autofocus
      [(ngModel)]="time">
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-xxxl-3 col-md-4">
    <ngx-status-card [title]="lightCard.title" [type]="lightCard.type">
      <i [ngClass]="lightCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>
<!-- <button nbButton fullWidth status="success" (click)="onClick()">
  ON
</button> -->